main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.card {
    display: block;
    text-align: center;
}

.top_card {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: transparent;
}

.bottom_card {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: transparent;   
}

.bottom_card .bottom_card_body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align:left;
}

.icon {
    display: flex;
}

.icon h2 {
    margin-left: 5px;
}

.icon h1 {
    font-weight: 100;
    font-size: larger;
}


/* styling for the loading animation */
.lds-hourglass {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    100% {
        transform: rotate(1800deg);
    }
}