nav {
    display: flex;
    padding: .5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1700px;
}

ul {
    display: flex;
    width: 30%; /* optional styling */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

ul li {
    list-style: none;
    padding: .5rem;
}

.link {
    text-decoration: none;
    color: white;
}